#footer
{
	position: absolute;
	width: 99%;
	height: 100px;
	font-family: "Arial";
}

.footer
{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.footer-link
{
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.link
{
	text-decoration: none;
	color: white;
	font-size: 12px;
	opacity: 0.4;
	transition: all 0.5s ease;
}

.link:hover
{
	opacity: 1;
}

.copyright
{
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	color: grey;
	height: 100%;
	display: flex;
	align-items: flex-end;
	margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {

   .footer-link
	{
		width: 80%;
	}


}

@media screen and (max-width: 500px) {

    .copyright
    {
    	font-size: 9px;
    }

    .link
    {
    	font-size: 10px;
    	margin-top: 10px;
    }

    .footer-link
	{
		width: 100%;
	}

}