#header
{
	border-bottom: 1px solid grey;
	height: 100px;
	font-family: "Arial";
}

.header-logo
{
	width: 240px;
}

#header-menu
{
	height: 100px;
	display: flex;
	flex-direction: row;
}

.lien-logo
{
	width: 200px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.link-menu
{
	color: white;
	text-decoration: none;
	opacity: 0.5;
	transition: all 0.5s ease;
}

.act
{
	opacity: 1;
	text-decoration: underline;
}

.link-menu:hover
{
	opacity: 1
}

.menu
{
	height: 100%;
	width: 35%;
	margin-left: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}