body
{
	background-color: #0b0b0e;
  margin: 0;
}

.text
{
	font-size: 40px;
	color: white;
}

.main 
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 50px;
}

div.lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

div.lightbox:target {
  display: table;
}

div.lightbox figure {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

div.lightbox figure iframe {
  display: block;
  margin: auto;
  padding: 8px;
  background-color: #ddbbff;
  height: 560px;
  position: relative;
  overflow: auto;
  border: 1px #000000 solid;
  border-radius: 10px;
  text-align: justify;
  font-size: 14px;
}

div.lightbox figure .closemsg {
  display: block;
  margin: auto;
  height: 0;
  overflow: visible;
  text-align: right;
  z-index: 2;
  cursor: default;
}

div.lightbox figure .closemsg, div.lightbox figure iframe {
  width: 1000px;
}

.closemsg::after {
  content: "\00D7";
  display: inline-block;
  position: relative;
  right: -20px;
  top: -10px;
  z-index: 3;
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  background-color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.closemsg::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.85;
}

.liste-episodes
{
	margin-top: 100px;
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.bouton-ep
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	width: 140px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	background-color: darkred;
	height: 40px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-family: "Arial";
	opacity: 0.6;
	transition: all 0.5s ease;
	z-index: 0;
}

.bouton-ep:hover
{
	opacity: 1;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.prez
{
	display: flex;
	flex-direction: row;
  justify-content: space-around;
	font-family: system-ui;
  width: 1000px;
}

.img-prez
{
	border-radius: 10px;
	border: 1px solid black;
  width: 300px;
  margin-right: 10%;
}

.text-prez
{
	color: white;
  width: 600px
}

.prez-title
{
	font-size: 50px;
}

.prez-title2
{
	font-size: 30px;
}

.prez-story
{
	width: 80%;
}

.white
{
  color: white;
  font-family: "Arial";
  text-align: center;
}

.center 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-img-link
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-link
{
  height: 400px;
}

.img-link:hover
{
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.white-back
{
  background-color: white;
  color: black;
  font-family: "Arial";
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 600px;
  border-radius: 10px;
}

.white-back-2
{
  background-color: white;
  color: black;
  font-family: "Arial";
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 400px;
  border-radius: 10px;
}

.faq-title
{
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: normal;
  margin-bottom: 30px;
}

.faq-sub
{
  margin: 0;
  margin-left: 6%;
  margin-right: 5%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
}

.faq-text
{
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
 
 @media screen and (max-width: 1100px) {

    .prez
    {
      width: 100%;
      align-items: center;
    }

    .img-prez
    {
      border-radius: 10px;
      border: 1px solid black;
      height: 400px;
      width: 300px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .liste-episodes
    {
      width: 100%;
    }

    .faq-title
    {
      margin-bottom: 5px;
    }

    .faq-sub
    {
      margin-bottom: 5px;
    }

    .faq-text
    {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {

    .faq-title
    {
      margin-bottom: 30px;
      font-size: 25px;
    }

    .faq-sub
    {
      margin-bottom: 10px;
      font-size: 17px;
    }

    .faq-text
    {
      margin-bottom: 20px;
      font-size: 13px;
    }

}

 @media screen and (max-width: 700px) {

    .prez
    {
      width: 100%;
      align-items: center;
      margin-left: 20px;
    }

    .img-prez
    {
      border-radius: 10px;
      border: 1px solid black;
      height: 200px;
      width: 150px;
      margin-right: 5%;
    }

    .prez-title
    {
        font-size: 30px;
    }

    .prez-title2
    {
        font-size: 20px;
    }

    .prez-story
    {
        font-size: 12px;
    }

    .img-link
    {
      width: 280px;
    }

    .faq-title
    {
      margin-bottom: 10px;
      font-size: 20px;
    }

    .faq-sub
    {
      margin-bottom: 5px;
      font-size: 15px;
    }

    .faq-text
    {
      margin-bottom: 15px;
      font-size: 12px;
    }
}

 @media screen and (max-width: 500px) {

    .main
    {
      margin-top: 15px;
    }

    .prez
    {
      width: 100%;
      align-items: center;
      margin-left: 20px;
    }

    .img-prez
    {
      border-radius: 10px;
      border: 1px solid black;
      height: 200px;
      width: 150px;
      margin-right: 5%;
    }

    .prez-title
    {
        font-size: 15px;
    }

    .prez-title2
    {
        font-size: 12px;
    }

    .prez-story
    {
        font-size: 8px;
    }

    .img-link
    {
      width: 150px;
      height: 200px;
    }

    .div-img-link
    {
      flex-wrap: wrap;
      align-items: center;
    }

    .h1
    {
      font-size: 20px;
      margin: 0;
      width: 90%;
    }

    .h3
    {
      font-size: 15px;
      width: 90%;
    }

    .h5
    {
      font-size: 10px;
      width: 90%;
    }

    .liste-episodes
    {
      margin-top: 15px;
      margin-right: 10px;
    }

    .bouton-ep
    {
      width: 80px;
      height: 25px;
      font-size: 10px;
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 15px;
    }

    div.lightbox figure iframe
    {
      height: 200px;
    }

    div.lightbox figure .closemsg, div.lightbox figure iframe
    {
      width: 90%;
    }

    .faq-title
    {
      margin-bottom: 10px;
      font-size: 18px;
    }

    .faq-sub
    {
      margin-bottom: 5px;
      font-size: 12px;
    }

    .faq-text
    {
      margin-bottom: 15px;
      font-size: 10px;
    }

}

